:root{
    --bg:#FFF9F5; --accent:#D97706; --muted:#0c0b0b; --card:#FFFFFF;
    --radius:16px;
    --maxw:1100px;
    font-family: 'Inter', system-ui;
}
body{
    margin:0;
    line-height:1.4;
   
}

.logo{
    margin-bottom: 100px;
}
.container{
    max-width:var(--maxw);
    margin:32px auto;
    padding:24px
}
.title{
    font-size:28px;
    margin:0
}
.subtitle{
    color:var(--muted)
}
.hero{
    display:grid;
    grid-template-columns:1fr 300px;
    gap:24px;
    margin-top:18px
}
.hero-card{
    background:#fff;
    border-radius:var(--radius);
    padding:24px
}
.big{
    font-size:40px;
    margin:0 0 8px
}
.lead{
    color:var(--muted)
}
.btn{
    padding:12px 18px;
    border-radius:12px;border:0;
    cursor:pointer;
    font-weight:600;
    text-decoration: none;
}
.btn-accent{
    background:var(--accent);
    color:white
}
.btn-outline{
    background:transparent;
    border:1px solid #EEE;
    color:var(--muted)
}
.hero-photo{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:var(--radius)
}
.timeline .event{
    display:flex;
    gap:14px;
    margin-bottom:10px
}
.dot{
    width:12px;
    height:12px;
    background:var(--accent);
    border-radius:50%;
    margin-top:6px
}
.gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.gallery img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:10px
}
.background-image{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.6;
}
@media (max-width:450px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .background-image{
        width: 780px;
        height: 86%;
    }
}